@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
  font-family: 'Inter', sans-serif;
}

header{
  z-index: 10001 !important;
}

.btn-primary{
  @apply px-7 py-2 bg-brandPrimary text-white rounded hover:bg-neutralDGrey
  transition-all duration-300 hover:-translate-y-4;
}

.company-logo {
  max-width: 150px; /* Adjust size as needed */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.company-logo:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.address-container {
  display: flex;
  align-items: top;
  flex-wrap: wrap;
}

.icon {
  color: white;
  margin-right: 8px;
  margin-top: 3px;
}

.address-text {
  margin: 0;
  color: white;
}

.container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
}

/* Add this CSS to your component's stylesheet */

.company-logos {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.scroll-container {
  display: flex;
  gap: 60px; /* Adjust spacing between logos */
  width: max-content;
  animation: scrollReverse 20s linear infinite; /* Adjust duration for desired speed */
}

/* Keyframes for reverse scrolling effect */
@keyframes scrollReverse {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}

/* Make sure each image fits nicely and remains responsive */
.scroll-container img {
  width: 200px; /* Adjust size as needed */
  height: auto;
  object-fit: contain;
}



