@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
  font-family: 'Inter', sans-serif;
}

header{
  z-index: 10001 !important;
}

.btn-primary{
  @apply px-7 py-2 bg-brandPrimary text-white rounded hover:bg-neutralDGrey
  transition-all duration-300 hover:-translate-y-4;
}

.company-logo {
  max-width: 150px; /* Adjust size as needed */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.company-logo:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.address-container {
  display: flex;
  align-items: top;
  flex-wrap: wrap;
}

.icon {
  color: white;
  margin-right: 8px;
  margin-top: 3px;
}

.address-text {
  margin: 0;
  color: white;
}

.container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
}

.container h1 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust as needed for contrast */
  font-size: 2em; /* Adjust as needed */
  text-align: center;
  width: 100%; /* Ensure text doesn't overflow */
}



